<section>
  <div class="container-fluid">
    <%= render 'layouts/header' %>
  </div>
  </section>
  <section>
    <%= render 'houses/form' %>
  </section>
  <section>
    <% render 'layouts/footer_main' %>
  </section>
