<section>
  <%= render "layouts/header" %>
</section>

<body class='houses_list'>
  <div class='app-wrapper'>
    <div class='map-area'>
      <div id="googleMap"> </div>
    </div>
    <div id="app">
      <div class='sidebar'>
        <!-- filter bar -->
        <div class="filter-bar">
          <nav class="nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Price</a>
              <div class="dropdown-menu">
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> No Cost/Income Based </label>
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> Below $500/month</label> 
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> Between $500 - $800/month</label>
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> Above $800/month</label>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Distance</a>
              <div class="dropdown-menu">
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> 15 miles </label>
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> 25 miles</label>
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio"> 50 miles</label>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filters</a>
              <div class="dropdown-menu">
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="womenFilter"> Women Only </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="menFilter"> Men Only </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="smokingFilter"> Non-Smoking </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="petsFilter" > Pets allowed </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="transitFilter" > Transportation </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="parkingFilter"> Parking </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="acFilter"> Air Conditioning </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="internetFilter"> Internet </label>
                <label class="dropdown-item radio-inline"><input type="checkbox" v-model="tvFilter"> TV </label>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Sort </a>
              <div class="dropdown-menu">
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio" v-on:click="setSortAttribute('price')"> Price/Month </label>
                <label class="dropdown-item radio-inline"><input type="radio" name="optradio" v-on:click="setSortAttribute('deposit')"> Deposit Amount </label>
                <!-- <label class="dropdown-item radio-inline"><input type="radio" name="optradio" v-on:click="setSortAttribute('price')" > Distance </label> -->
              </div>
            </li>
          </nav>
        </div>
      <!-- end of filter bar-->
      <div class="row">
        <div v-for="house in modifiedHouses" v-if="filterHouses(house)" >
          <a class="link_to_house" v-bind:href="'/houses/'+ house.id">
          <img class="card-img-top" src="http://paradeofhomesdenver.com/uploads/homes/da77c29dec3c1340fd7c4d3a59957444_preview.jpg" alt="Card image cap"> </a>
        <div class="col-6">
          <div class="card-block">
            <p class="description"> {{house.neighborhood}} </p>
            <p class= "house_name"> {{house.name}} </p>
            <p class="price"> {{formatPrice(house.price)}} </p>
          </div>
        </div>
        <div class="col-6"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>


<section>
  <%= render "layouts/footer_main" %>
</section>

<%= javascript_include_tag("g_maps.js") %>

<script src="https://maps.googleapis.com/maps/api/js?key= + <%= ENV['GOOGLE_MAP_API_KEY']%> + &callback=myMap"></script>
