<section>
  <%= render "layouts/header" %>
</section>

<section class="house-display">
  <div class="jumbotron"> </div>
  
  <h3> <%= @house.name %> </h3>
</section>

<section>
  <%= render "layouts/footer_main" %>
</section>