<div class='container-fluid'><%= render 'layouts/header' %>
</div>
<% provide(:title, 'about') %>

<section>
  <div class='container-fluid'>

<h1>Sign up</h1>
<p>This will be an about page.</p>
</div>
</section>
<%= render 'layouts/footer_main'%>
