<%= render 'layouts/header' %>
<% provide(:title, 'contact') %>
<section>
  <div class='container-fluid'>

<h1>Sign up</h1>
<p>This will be a contact page.</p>
</div>
</section>
<%= render 'layouts/footer_main'%>
