/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require social-share-button
*= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "home_page";
@import "bootstrap";
@import "providers";
@import "header";
@import "footer_main";
@import "signup_form";
//devise form styling//
.simple_form.new_provider {
  margin-top:200px;

}
.form-inputs{margin-left:30%;}
.border-form-div {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.05);
     -moz-box-shadow: 0 2px 3px rgba(0,0,0,.05);
          box-shadow: 0 2px 3px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  padding: 9px 7px;
  margin-top:10px;
max-width:300px;
border-radius: 15px;
}
.password.required {width:160px; margin-right:10px; color:black;}
.string.email.required {width:300px; color:black;}
.provider_signup{color:#f47f49; font-weight:400; font-size: 4rem; margin-left:30%; font-family:raleway;}
.string.required {padding-right:40px; max-width:300px; color:black;}

.btn.btn-lg.signup-btn { background-color:#f47f49; color:white;
 margin-top:15px;}
.btn.btn-lg.signup-btn:hover{color:f47f49; background-color:#626262;}
.devise_login {color: #ffffff;; width: 40%;
margin-left: 30%;
margin-right: 30%}
.devise_registration {color:#f47f49; width: 40%;
margin-left: 30%;
margin-right: 30%}
.container-fluid.login {margin-top:140px;}
.string.email.optional {width:300px;}
.password.optional {width:300px;}
.input.email.optional.provider_email {width: 40%;
margin-left: 30%;
margin-right: 30%}
.input.password.optional.provider_password{width:40%; margin-left:30%; }
.input.boolean.optional.provider_remember_me {width:40%; margin-left:30%; }
.hint{color:#fff;}
