// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  line-height: 1.5;
  margin: 30px 0;
font-family:raleway;}
  // p a {
  //   text-decoration: underline; }
    h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'raleway'; }
  .section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px; }
  img::selection {
  color: #fff;
  background: transparent; }
  .masthead3 {
    display: table;

    width: 100%;
    height: auto;
    padding: 200px 0;

    text-align: center;

    color: white;
    background: url('coffee.jpg') no-repeat bottom center scroll;
    background-color: black;
    opacity: .6;
     background-color: #212529;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-body {
      display: table-cell;

      vertical-align: middle;
      .brand-heading {
        font-size: 50px;
      }
      .intro-text {
        font-size: 18px;
      }
    }
    @media(min-width:768px) {
      height: 100%;
      padding: 0;
      .intro-body {
        .brand-heading {
          font-size: 100px;
        }
        .intro-text {
          font-size: 32px;
          font-family: 'Raleway', sans-serif;
        }
      }
    }
  }
  .blog_title {font-size:6rem; font-color:#f47f49; font-family:raleway; font-weight:400; text-align:center;}
  .blog_info { font-size:4rem; font-color:#fff; font-family:raleway; font-weght:200;}
// img::-moz-selection {
//   color: #fff;
//   background: transparent; }
//   header.masthead1 {
//   margin-bottom: 50px;
//   background: no-repeat center center;
//   background-color: #868e96;
//   background-attachment: scroll;
//   position: relative;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover; }
//   header.masthead1 .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//
//     width: 100%;
//     background-color: #212529;
//     opacity: 0.5; }
//
//   header.masthead1 .site-heading {
//     padding: 200px 0 150px;
//     color: white; }
//     @media only screen and (min-width: 768px) {
//
//       header.masthead1 .site-heading {
//         padding: 200px 0; } }
//
//   header.masthead1 .site-heading {
//     text-align: center; }
//
//     header.masthead1 .site-heading h1 {
//       font-size: 50px;
//       margin-top: 0; }
//     header.masthead1 .subheading,
//     header.masthead1 .site-heading .subheading {
//       font-size: 24px;
//       font-weight: 300;
//       line-height: 1.1;
//       display: block;
//       margin: 10px 0 0;
//       font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
//     @media only screen and (min-width: 768px) {
//       header.masthead1 .page-heading h1,
//       header.masthead1 .site-heading h1 {
//         font-size: 80px; } }
//   header.masthead1 .post-heading .subheading {
//     font-size: 24px;
//     font-weight: 600;
//     margin: 10px 0 30px;
//     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
//
//     header.masthead1 .post-heading .subheading {
//       font-size: 30px; }
//       form .form-group:first-child .floating-label-form-group {
//         border-top: 1px solid #dee2e6; }
//         .website{font-family: 'Khula', sans-serif; font-size:20px;}
.blog_link {color: #f47f49; font-weight: 400; font-size: 3rem; font-family: 'Khula', sans-serif;}
.edit-link {color: #f47f49; font-family: 'Khula', sans-serif;}
.delete-link {color: #f47f49; font-family: 'Khula', sans-serif;}
// .page-wrapper {margin-top:160px;}
.title {text-align:left; margin-top:40px;margin-bottom:40px; font-family: 'Khula', sans-serif;}
.image-responsive {max-width:360px;}
.body-post { font-family: 'Khula', sans-serif; font-size:24px;}
.comments-count {font-family: 'Khula', sans-serif; font-size:24px; font-weight:200; }

//show page for blogs
article
{border: 1px solid #eee;
  margin-bottom: 20px;
  margin-left: 60px;
margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
      border-radius: 4px;
// background: #fcfcfc;
color: #6b6e80;
position: relative;}
.date {font-family: 'Khula', sans-serif; font-size:16px; color:#626262; float:left;}
.panel
//index page for blogs
{border: 1px solid #626262;
  margin-top:40px;
  margin-bottom: 20px;
  margin-left: 60px;
margin-right: 0px;
  padding: 10px 20px;
  // position: relative;
  box-shadow: 10px 5px 5px #c0c0c0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
      border-radius: 4px;
background: #fcfcfc;
color: #6b6e80;
position: relative; }
.read-more {color:#f47f49;margin-left:20px; font-family: 'Khula', sans-serif;}
.name {font-family: 'Khula', sans-serif; font-size:20px;}
.blog-content{border-top:1px solid black; border-bottom:1px solid black; margin:auto; background-color:#FFFFFF;;}
.form-label-title{font-family: 'Khula', sans-serif; font-size:20px;}
.form-label-post{font-family: 'Khula', sans-serif; font-size:20px;}
.form-label-name{font-family: 'Khula', sans-serif; font-size:20px;}
.form-label-website{font-family: 'Khula', sans-serif; font-size:20px;}
.form-label-image{font-family: 'Khula', sans-serif; font-size:20px;}
.field-website{width:250px; border-radius:0 0 0 0;}
.field-name{width:250px; border-radius:0 0 0 0;}
.field-title{width:250px; border-radius:0 0 0 0;}
.website{color: #f47f49;}
.name {font-family: 'Khula', sans-serif; font-size:18px; color:#626262; float: left;}
.website-form-link {color:#f47f49; font-size:18px; font-family: 'Khula', sans-serif; }
.img-fluid {margin-right:200px;}
//link button from show page to all blogs//
.btn.btn-md.btn-light.blogs {margin-left: 900px; color:#ffffff; background-color:#f47f49;}
.btn.btn-md.btn-light.blogs:hover {color: #f47f49; background-color: #fff; border-radius: 1px solid #f47f49}
//index page css for edit and new blog buttons//
.button{border-radius: 15px; color:#f47f49;}
.button:hover{background-color:#f47f49;}
.new-blog-link{color:#f47f49;}
.new-blog-link:hover{color:#fff; background-color:#f47f49;}
.logout-link{color:#f47f49;}
.logout-link:hover{color:#fff; background-color:#f47f49; }
// .img-fluid.coffee {width:100%;}
