// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog_link {color: #f47f49; font-weight: 400; font-size: 4rem; font-family:raleway;}
.page-wrapper {margin-top: 140px;  padding:40px; border-radius: 1px solid #626262; font-family:raleway;}
