// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog_link {color: #f47f49; font-weight: 400; font-size: 4rem; font-family:raleway;}
.edit-link {color: #f47f49;}
.delete-link {color: #f47f49;}
.page-wrapper {margin-top:160px;}
