// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {font-family: 'Khula', sans-serif;}
input{font-family: 'Khula', sans-serif;}
text_area{font-family: 'Khula', sans-serif;}
.new_comment{ margin-left:60px;}
.delete-link {color: #f47f49; margin-left:60px}
.post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 60px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fcfcfc;
	color: #6b6e80;
	position: relative;
  font-family: 'Khula', sans-serif;
}
.comment-count{  font-family: 'Khula', sans-serif;
  margin-bottom: 20px;
  margin-left: 60px;
margin-right: 0px;
  padding: 10px 20px;
  position: relative;}
  h2   {font-family: 'Khula', sans-serif;
    margin-bottom: 20px;
    margin-left: 60px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;}
    .meta{font-family: 'Khula', sans-serif; font-size:14px;}
    .comment-body{font-family: 'Khula', sans-serif;font-size:18px;}
    .comment-body-form{font-family: 'Khula', sans-serif;font-size:18px;}
    .container-fluid .comments {border-top: 1px solid black; border-bottom: 1px solid black;}
