
nav {
  background-color:#000000;


}
#secondNav {
  background-color:#000000;
}
// .nav-link .js-scroll-trigger {
//   color: white;
// }
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
//search bar styling
#search {border-radius: 15px 15px 15px 15px; font-family:raleway; overflow:hidden;}
.houses_submit{border-radius: 15px 15px 15px 15px;}
input {
  display: inline-block;
}
//button and link colors in nav bar//
.welcome{color:white; font-family: raleway; font-size:16px; margin-top:-7px; margin-right:60px; text-align:center;}
a{color:white; font-family: raleway; border-radius:none; margin-top:-7px;}
a:hover {color:black; border-radius:none;}
button .menu .navbar-toggler .navbar-toggler-right{text-color:white; font-family:raleway;}
.navbar-light .navbar-toggler {color:white; border-color:white;}
.navbar-light .navbar-toggler:hover {color:#f47f49; background-color:white;}
//search btn styling//
.btn {background-color:#c0c0c0; color:white; font-family:raleway; border-radius:15px 15px 15px 15px; float:right;}
.btn:hover{background-color: #626262; color: #ffffff;}
.dropdown-menu .providers {color: #f47f49;}
.dropdown .providers {color: #f47f49;}
.register{color: #f47f49;}
.login-dropdown {color: #f47f49;}
header {margin-bottom: 140px;}
