// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#secondNav {
  background-color:#ef8b3e;
}

.legend-items {
  color: #FFF; 
}

#house-rows {
  padding: 5px; 
}

.card.houses {
  background-color: white; 
  border: none;
  box-shadow: none;
}

.card-block p {
  color: black; 
  line-height: 60%;
  text-align: left; 
}

.card-block .description {
  padding-top: 5px;
  color: #F47F49; 
  font-size: 80%; 
}

.card-block .price {
  color: #494949;
  font-size: 80%;
}

body {
  overflow: hidden;
  margin-top: 10px; 
}

.app-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.map-area {
  width: calc(100% - 400px);
  height: 100vh;
}

#googleMap {
  width: 100%;
  height: 100vh;
}

.sidebar {
  border-left: 1px solid #ddd;
  width: 400px;
  height: 100vh;
  padding: 15px;
  padding-bottom: 90px; 
  overflow: scroll;
}