
#btn-buy {text-align:center;}
.row.clearfix{ margin-top: 140px;}
.font-weight-light.products {text-align:center;}
.product {text-align:center; background-color:#f47f49; padding:20px; border-radius: 15px;}
.col-sm-12.products {text-align:center;}
.product.clearfix {display:inline-block;}
.product.col-sm-4{display: inline-flex; margin-top:40px; margin-bottom:40px;}
.row-fluid.product {margin-top:40px; margin-bottom:40px;}
.Header.Header--noLogo {background-color:#f47f49;}
#wall_ring {  display: table; width: 100%; height: auto; padding: 200px 0;
    background: url('wall_ring.jpg') no-repeat bottom center scroll; background-color: black;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  }
  // .img-fluid.mx-auto {text-align:center; margin:none;}
