<h1>Charges#create</h1>
<p>Find me in app/views/charges/create.html.erb</p>
<h3>Thank you for your purchase....click below to begin setting up your house, or go check out your super fab profile</h3>
<button>link to some formy stuff</button>
<button>Profile page woopdeewoop</button>
<%= render 'layouts/footer_main' %>
