<% content_for :head do %>
     <!-- <link rel="stylesheet" href="/assets/footer_main.scss"> -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     <% end %>
<footer class="footer_main">
    <div class="container-fluid">
  <div class="footer-social">
          <a href="https://www.facebook.com/getzober/" class="social-icons"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="https://instagram.com/getzober" class="social-icons"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="https://twitter.com/getzober" class="social-icons"><i class="fa fa-twitter fa-2x"></i></a>
      </div>
<div class='row-fluid'>
     <li class='links'><%= link_to "about",   about_path %></li>
     <li class='links'><%= link_to "contact", contact_path %></li>
   </div>


      <p class="copyright">Copyright &copy; Zober 2017</p>

  </div>
  </footer>
