<footer class="homepage_footer">
    <div class="container-fluid">
      <p class="copyright">Copyright &copy; Zober 2017</p>
    </div>
    <div class="footer-social">
        <a href="https://www.facebook.com/getzober/" class="social-icons"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-twitter fa-2x"></i></a>
    </div>

  </footer>
